* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.z-1, .z-2, .z-3, .z-4, .z-5, .z-7, .z-8, .z-9, .z-10, .z-11, .z-12, .z-13, .z-14, .z-15, .z-16, .z-17, .z-18, .z-19, .z-20, .z-21, .z-22 {
    padding: 40px 0;
}

.z-1 {
    background-color: red;
    
}

.z-3 {
    background: url('../images/picture.avif');
    height: 500px;
}

.z-1 h1 {
    color: white;
}

.z-3 h1 {
    /*color: #ff0000;*/
    background-color: rgb(255, 255, 255, .8);
}

.z-3 p {
    color: hsl(0, 0%, 100%);
}

.z-3 p:nth-child(even) {
    background-color: hsla(0, 3%, 19%, 0.7);

}

.z-3 p:nth-child(odd) {
    background-color: hsla(0, 3%, 19%, 0.3);

}

.z-4 .title-block {
    font-size: 40px;
}

.z-4 h1 {
    font-size: 1em;
}

.z-4 h2 {
    font-size: 0.5em;
}

.z-5 ul {
    font-size: 2em;
}

.z-6 {
    overflow: hidden;
}

.z-6 .blue {
    background-color: blue;
    width: 100vw;
    height: 50%;
}

.z-6 .red {
    background-color: red;
    min-width: 40px;
    max-width: 100vw;
    height: 100vh;
}

.z-7 h1 {
    background-color: #F0BA7D;
    margin: 25px auto;
    width: 55vw;
}

.z-7 h2 {
    background-color: #CADADD;
    width: 28vw;
    margin: 50px auto;
    padding: 10px 25px 20px;
}

.z-8 .wrapper {
    background-color: lightgray;
    padding: 15px 5px;
}

.z-8 .item {
    margin: 5px;
    padding: 10px;
    background-color: blue;
    color: white;
    display: block;
}

.z-8 .item:nth-child(odd) {
    margin-left: 50px;
}

.z-8 .item:last-child {
    position: fixed;
    bottom: 1vh;
}

.z-8 .item:first-child {
    background-color: red;
    position: sticky;
    top: 0px
}

.z-9 {
    margin-bottom: -200px;
}

.z-9 .pink {
    width: 100%;
    height: 200px;
    background: pink;
    /*position: absolute;
    z-index: -1;*/
}

.z-9 h1 {
    font-size: 100px;
    padding: 50px;
    margin: 0;
    /*position: absolute;
    top: 0;*/
    position: relative;
    top: -200px;
}

.z-10 .blue {
    width: 200px;
    height: 200px;
    background: blue;
    /*position: absolute;*/
    position: relative;
}

.z-10 .red {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 50px;
}

.z-11 .blue {
    width: 200px;
    height: 200px;
    background: blue;
    position: absolute;
    z-index: -1;
}

 .z-11 .red {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 0;
}

.z-11 h1 {
    font-size: 100px;
    padding: 50px;
    margin: 0;
    
}

.z-12 .wrapper {
    background-color: lightgray;
    padding: 15px 5px;
}

.z-12 .item {
    margin: 5px;
    padding: 10px;
    background-color: blue;
    color: white;
    display: inline-block;
    width: 50px;
}

.z-12 .item:nth-child(even) {
    display: none;
}

.z-13 .wrapper {
    display: flex;
    background-color: lightgray;
    align-items: flex-start;
    flex-direction: column-reverse;
}

.z-13 .item {
    margin: 5px;
    padding: 10px;
    background-color: blue;
    color: white;
}

.z-14 .wrapper {
    display: flex;
    background-color: lightgray;
    align-items: flex-start;
    flex-wrap: wrap;
}

.z-14 .item {
    margin: 5px;
    padding: 10px;
    background-color: blue;
    color: white;
    min-width: 25%;
}

.z-15 .wrapper {
    display: flex;
    background-color: lightgray;
    align-items: flex-start;
    flex-flow: row-reverse wrap-reverse;
}

.z-15 .item {
    margin: 5px;
    padding: 10px;
    background-color: blue;
    color: white;
    min-width: 25%;
}

.z-16 .wrapper {
    height: 100vh;
    min-height: 1000px;
    display: flex;
    background-color: lightgray;
    flex-flow: column;
    justify-content: space-around;
}

.z-16 .item {
    margin: 5px;
    padding: 10px;
    background-color: blue;
    color: white;
    min-width: 25%;
}

.z-17 .wrapper {
    height: 100vh;
    display: flex;
    background-color: lightgray;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.z-17 .item {
    margin: 5px;
    padding: 10px;
    background-color: blue;
    color: white;
    width: 30%;
}

.z-18 .wrapper {
    display: flex;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

.z-18 .item {
    margin: 5px;
    padding: 10px;
    background-color: blue;
    color: white;
    min-width: 25%;
}

.z-18 .item:nth-child(even) {
    order: 1;
}

.z-18 .item:last-child {
    width: 100vw;
}

.z-19 {
    overflow: hidden;
}

.z-19 .wrapper {
    height: 20vh;
    width: 100vw;
    display: flex;
    background-color: lightgray;
    align-items: center;
    
  }

.z-19 .red {
    width: 70%;
    height: 100%;
    background: red;
  }

.z-19 .blue {
    min-width: 70%;
    height: 40px;
    background: blue;
    flex-shrink: 0;
    
  }

  .z-20 ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    background: gray;
    color: white;
    width: 30%;
    
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .z-20 ul {
        width: 100%;
    }

    .z-20 li {
        margin-right: 50px;
        display: inline;
    }
}

.z-21 .wrapper {
    display: flex;
    background-color: lightgray;
    flex-direction: column;
}

.z-21 .item {
    margin: 5px;
    padding: 10px;
    background-color: blue;
    color: white;
}



@media screen and (min-width: 600px) {
    .z-21 .wrapper {
        flex-direction: row;
    }
    
    .z-21 .item:nth-last-child(odd) {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .z-21 .item:nth-last-child(even) {
        display: none;
    }
}

.z-22 {
    height: 400px;
}

.z-22 .blue {
    width: 200px;
    height: 200px;
    background: blue;
    transition: height 0.2s;
}

@media screen and (max-width: 599px) {
    .z-22 .blue{
        height: 400px;
    }
}